@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins' , sans-serif;
    background-color: #1b1726;

}
img {
    max-width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 80px 0;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-around;

}
.logo {
    color: #e73a1c;
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li {
    position: relative;
    float: left;

}
 .menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color: #ffffff;
    font-weight: 600;
    display: block;

 }
 .menu .navbar ul li a:hover {
    color:#e73a1c;

 }
 #menu {
    display: none; 
 }
 .menu-icono {
    width: 25px;

 }
  .menu label {
    cursor: pointer;
    display: none;
  }
  .header-content {
    display: flex;
  }

  .header-text {
    flex-basis: 50%;
  }
  .header-txt h1 {
    font-size:60px;
    color: #ffffff;
    line-height: 1.3;
    margin-bottom: 25px;
  }

  .header-txt span {
     color:#e73a1c;

  }

  .header-txt p {
    font-size: 17px;
    color: #5a5454;
    margin-bottom: 45px;

  }

  .butons {
    display: flex;
  }
  .btn-1, .btn-2, .btn-3 {
    display: inline-block;
    padding: 11px 35px;
    border: 2px solid #e73a1c;
    border-radius: 25px;
    margin-right: 25px;
    font-size:17px;
    color: #ffffff;
  }
  .btn-1:hover {
    background-color: #e73a1c;
  }
  .popular {
    padding: 100px 0;
    text-align: center;
  }
  h2 {
    color: #ffffff;
    font-size: 35px;
    margin-bottom: 45px;
  }
.popular-content {
    display: flex;
    justify-content: space-between;

}

.popular-content img {
    width: 150px;
}
.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
.product-1{
    background-color: #2a2733;
}

.product-txt {
    padding: 50px 30px;
}
h3 {
    font-size: 20px;
    color:#ffffff;
    margin-bottom: 20px;
}
.price {
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.price p {
    font-size: 17px;
    color:#e73a1c;

}

.btn-2 {
    padding: 5px 25px;
    background-color: #e73a1c;
    margin-right: 0;

}
.contact{
    padding: 150px 300px;
}
.contact-content {
    background-color: #2a2733;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
}
fore{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
input {
    padding: 10px 25px;
    background-color: #1b1726;
    border-radius: 25px;
    outline: none;
    margin-right: 10px;
    color: #ffffff;
    font-size: 17px;
}
::placeholder{
    color:#5a5454;
    font-size: 17px;
}
.btn-3 {

    background-color: #e73a1c;
    cursor: pointer;
    margin-right: 0;
}